{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}{{ parent() }}
    <h1>Movie index</h1>

    <div class="grid">
        {% for movie in movies %}
       
       
        <div class="card">

            <img src="{{ vich_uploader_asset(movie,'imageFile')  }}" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>{{ movie.name }}</b></h4>
                <h4><b>{{ movie.gender }}</b></h4>
                {{ movie.id }} 
               
                <a href="{{ path('movie_show', {'id': movie.id}) }}">show</a>
                <a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>
            </div>
        </div> 




        {% else %}
          
                <td colspan="7">no records found</td>
            
        {% endfor %}
    </div>
    <a href="{{ path('movie_new') }}">Create new</a>
{% endblock %}
