{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ movie.name }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ movie.gender }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ movie.img }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ movie.createdAt ? movie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ movie.updatedAt ? movie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home_user') }}">back to list</a>

 

 
{% endblock %}
